<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style/admin/admin.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

</head>

<body>
    <div class="admin-container">
        <div data-th-replace="~{'fragment/common' :: sidebar}"></div>

        <main class="main-content">
            <h1>Dashboard</h1>
            <div data-th-replace="~{'fragment/common' :: admin-cards}"></div>
            <h2>Manage Products</h2>
            <table>
                <tablehead>
                    <tr>
                        <th>ID</th>
                        <th>Product</th>
                        <th>Price</th>
                        <th>Stock</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tablebody>
                        <tr data-th-each="product:${products}">
                            <td data-th-text="${product.productId}"></td>
                            <td data-th-text="${product.productTitle}"></td>
                            <td class="td" data-th-text="${product.productPrice}">$20</td>
                            <td class="td" data-th-text="${product.productStockQuantity}">65</td>
                            <td class="td">
                                <button class="button" id="editbutton1">Edit</button>
                                <button class="button">Delete</button>
                            </td>
                        </tr>
                    </tablebody>
            </table>
        </main>
    </div>

    <form id="form">
        <div id="container">
            <div class="addCategory">
                <label for="addCategory">Add Category</label>
                <input class="inputbox" type="text" placeholder="Enter category">
            </div>

            <div class="addProduct">
                <label for="addProduct">Add Product</label>
                <input class="inputbox" type="text" placeholder="Add your Product">
            </div>

            <div class="ProductImage">
                <label for="ProductImage">Product Image</label>
                <input class="inputbox" type="file" placeholder="Product Image">
            </div>

            <div class="ProductDescription">
                <label for="ProductDescription">Product Description</label>
                <input class="inputbox" type="text" placeholder="Product Description">
            </div>
            <div>
                <button id="button1">Submit</button>
            </div>
        </div>
    </form>

</body>

</html>