* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    font-family: Arial, sans-serif;
}

.navbar {
    display: flex;
    position: absolute;
    top:0;
    justify-content: space-between;
    align-items: center;
    background-color: #67308D;
    height: 6.25rem;
    width: 100%;
    z-index:10;
}

.navbar ul li {
    display: inline-block;
    margin-left: 1.875rem;
    right: 12.5rem;
}

.navbar li a {
    color: #EFEFEF;
    text-decoration: none;
    padding: 0.500rem;
    font-size: 1.125rem;
    font-weight: bolder;
    border-radius: 0.3125rem;
}

.logo-img {
    width: 8.125rem;
    height: 5rem;
}

.search-btn {
    position: relative;
    top: 0.3125rem;
    margin: 0.125rem;
    background-color: #901bb7;
    border: none;
    font-size: 1.4375rem;
    color: #ffffff;
    width: 6.875rem;
    height: 2.5rem;
    border-radius: 0.9375rem;
    transition: 0.3s ease;
}

.search-btn:hover {
    cursor: pointer;
    background-color: #221737;
    scale: 1.1;
}

button {
    padding: 0.5rem 0.75rem;
    border: none;
    cursor: pointer;
    background-color: black;
    color: white;
    font-weight: bold;
}

.product-details p {
    position:relative;
    top:50%;
    padding: 0.625rem;
}

.product-details h1 {
    letter-spacing: 0.125rem;
    padding: 0.625rem;
}

.product-container {
    display: flex;
    position: relative;
    top: 6rem;
    padding: 1.875rem;
    background-color: white;
    border-radius: 0.625rem;
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
}

.image-section {
    display: flex;
    gap: 0.625rem;
}

.thumbnails {
    display: flex;
    flex-direction: column;
    gap: 0.625rem;
}

.thumbnails img {
    width: 3.75rem;
    cursor: pointer;
    border-radius: 0.3125rem;
}

.main-image {
    width: 21.875rem;
    border-radius: 0.625rem;
}

.product-details {
    margin-left: 2.5rem;
    width: 50%;
}

.badge {
    color: blue;
    font-size: 0.875rem;
    font-weight: bold;
}

.rating {
    font-size: 1.125rem;
    font-weight: bold;
}

.price {
    font-size: 1.5rem;
    font-weight: bold;
    color: green;
}

.discount {
    font-size: 1.125rem;
    color: red;
    margin-left: 0.625rem;
}

.mrp {
    font-size: 0.875rem;
    color: gray;
    margin-bottom: 1.25rem;
}

.sizes {
    display: flex;
    gap: 0.625rem;
}

.sizes button {
    padding: 0.5rem 2.5rem;
    margin-right: 0.625rem;
    margin-top: 0.625rem;
    border: 0.0625rem solid black;
    background: #ffffff;
    cursor: pointer;
    font-weight: bold;
    color: #000000;
    border-radius: 0.3125rem;
}

.sizes button:hover {
    background-color: #67308D;
    color: white;
}

.buttons {
    margin-top: 1.25rem;
    display: flex;
    gap: 0.625rem;
}

.buttons button {
    padding: 0.625rem 3.125rem;
    border-radius: 0.3125rem;
    margin-top: 0.625rem;
    margin-bottom: 1.25rem;
}

.input-pincode {
    display: block;
    position: relative;
    width: 15.625rem;
    height: 1.875rem;
    margin: 0.3125rem 0;
    border-radius: 0.3125rem;
}

.product-infomation {
    display: flex;
    position: absolute;
    padding: 1.25rem;
    top: 100%;
}

.review-container {
    position: relative;
    top:0rem;
    background: #fff;
    width: 98%;
    padding: 1.25rem;
    border-radius: 0.5rem;
    box-shadow: 0px 0px 0.625rem rgba(0, 0, 0, 0.1);
    margin-top: 3.125rem;
}

.footer {
    position: relative;
    top: 37rem;
    background-color: #EFEFEF;
    width: 100%;
}

.first-bar {
    font-size: 0.9375rem;
    font-weight: 300;
    position: absolute;
    background-color: #1C1948;
    height: 5rem;
    width: 100%;
    color: #EFEFEF;
}

.fashin-endbar {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    top: 3.75rem;
    position: relative;
    width: 100%;
    height: 3.75rem;
    background-color: #67308D;
    font-size: 1rem;
    letter-spacing: 0.125rem;
}

.first-bar a {
    top: 2.1875rem;
    position: relative;
    font-size: 1.5rem;
    margin: 0.625rem;
    color: #ffffff;
    text-decoration: none;
}
