body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url("https://plus.unsplash.com/premium_photo-1664202526559-e21e9c0fb46a?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"); 
  background-position: center;
  background-repeat: no-repeat;
  background-attachment:fixed; 
  background-size:cover; 
  background-size:100% 100%;
  background-blend-mode: darken;
  background-color:rgba(0, 0, 0, 0.3);
  font-family: sans-serif;
}

.heading-1{
  position:relative;
  color:#EFEFEF;
  font-size:34px;
  font-weight:700;
  
}

label{
  color:#EFEFEF;
}

input{
  border:none;
  background:transparent;
  border-bottom: 2px solid #EFEFEF;
  outline:none;
  color:#EFEFEF;
}

input:focus{
  color:#EFEFEF;
}

#gender{
  border:none;
  background:transparent;
  border-bottom: 2px solid #EFEFEF;
  outline:none;
  color:#EFEFEF;
}
#gender:focus{
  color:black;
}

.form {
  width: 20%;
  background-color:rgba(0, 0, 0, 0.7);
  border-radius: 5%;
  padding:3% 5%;
  text-align: center;
}

.form-group {
  width: 100%;
  margin-bottom: 5%;
  text-align: left;
}
.form-group label {
  display: block;
  margin-bottom: 2%;
}
.form-group input, .form-group select {
  width: 100%;
  padding: 2%;
  border: 1% solid #ccc;
  border-radius: 5%;
}
.btn {
  width: 70%;
  padding: 4.5% 0%;
  background-color:#9548cd;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin-top:4%;
}
.btn:hover {
  background-color:#4b1c6d ;
}