<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../static/style/admin.css">
</head>
<body>
    <div class="admin-container">
        <aside class="sidebar">
            <h1>Fashin Admin</h1>
            <ul>
                <li><a href="#">Dashboard</a></li>
                <li><a href="#">Orders</a></li>
                <li><a href="#">Products</a></li>
                <li><a href="#">Users</a></li>
                <li><a href="#">Settings</a></li>
                <li><a href="#">Logout</a></li>
            </ul>
        </aside>
        <main class="main-content">
            <h1>Dashboard</h1>
            <div class="stats">
                <div class="card">Total Orders: <span>120</span></div>
                <div class="card">Revenue: <span>$15,000</span></div>
                <div class="card">Products: <span>350</span></div>
                <div class="card">Users: <span>500</span></div>
            </div>
            <h2>Manage Products</h2>
            <table>
                <tablehead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Price</th>
                        <th>Stock</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tablebody>
                    <tr>
                        <td>1</td>
                        <td class="td">T-Shirt</td>
                        <td class="td">$20</td>
                        <td class="td">65</td>
                        <td class="td"><button>Edit</button> <button>Delete</button></td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td class="td">Jeans</td>
                        <td class="td">$40</td>
                        <td class="td">30</td>
                        <td class="td"><button>Edit</button> <button>Delete</button></td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td class="td">Tops</td>
                        <td class="td">$60</td>
                        <td class="td">55</td>
                        <td class="td"><button>Edit</button> <button>Delete</button></td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td class="td">Underwear</td>
                        <td class="td">$70</td>
                        <td class="td">45</td>
                        <td class="td"><button>Edit</button> <button>Delete</button></td>
                    </tr>
                </tbody>
            </table>
        </main>
    </div>
</body>
</html>