<!DOCTYPE html>
<html lang="en">

<head data-th-replace="~{fragment/common :: head}"></head>

<body>
    <link rel="stylesheet" href="/style/customer.home.css">
   

    <nav data-th-replace="~{fragment/common :: nav}"></nav>
    <div data-th-replace="~{fragment/common :: #searchdiv}"></div>
    <div class="carousel-container">
        <div class="carousel">
            <img src="/images/slide-1.webp" alt="Image 1" class="img">
        </div>
        <div class="carousel">
            <img src="https://i.pinimg.com/1200x/1a/c4/75/1ac4751bc3ef35ce9daa45027e8a20b2.jpg" alt="Image-2"
                class="img">
        </div>
        <div class="carousel">
            <img src="https://i.pinimg.com/1200x/d3/9c/d6/d39cd6ed7f4c27737736d47f4a35404f.jpg" alt="Image 3"
                class="img">
        </div>
        <div class="carousel">
            <img src="/images/slide-4.webp" alt="Image 4" class="img">
        </div>
    </div>
    </div>
    <h2 class="product-category">Best Selling</h2>
    <div class="product-elements">
        <section class="product">
            <button class="pre-btn">
                <img src="/images/previous-btn.png" alt="Previous" class="pre">
            </button>
            <div class="product-container">
                <div class="product-card">
                    <div class="product-image">
                        <span class="discount-tag">50% off</span>
                        <img src="https://cdn.pixabay.com/photo/2016/11/19/18/06/feet-1840619_1280.jpg" alt=""
                            class="product-thumb">
                        <button class="card-btn">Add to Wishlist</button>
                    </div>
                    <div class="product-info">
                        <h2 class="product-brand">Brand</h2>
                        <p class="product-short-description">A short line about the product</p>
                        <span class="price">$20</span>
                        <span class="actual-price">$40</span>
                    </div>
                </div>

                <div class="product-card">
                    <div class="product-image">
                        <span class="discount-tag">50% off</span>
                        <img src="https://images-static.nykaa.com/uploads/e3f348e6-da78-4ebe-9c52-a9b083c0ed0f.jpg?tr=w-360,cm-pad_resize"
                            alt="" class="product-thumb">
                        <button class="card-btn">Add to Wishlist</button>
                    </div>
                    <div class="product-info">
                        <h2 class="product-brand">Brand</h2>
                        <p class="product-short-description">A short line about the product</p>
                        <span class="price">$20</span>
                        <span class="actual-price">$40</span>
                    </div>
                </div>

                <div class="product-card">
                    <div class="product-image">
                        <span class="discount-tag">50% off</span>
                        <img src="https://images-static.nykaa.com/uploads/faf03175-7f72-43f3-acbc-1616eb1b9d2c.jpg?tr=w-360,cm-pad_resize"
                            alt="" class="product-thumb">
                        <button class="card-btn">Add to Wishlist</button>
                    </div>
                    <div class="product-info">
                        <h2 class="product-brand">Brand</h2>
                        <p class="product-short-description">A short line about the product</p>
                        <span class="price">$20</span>
                        <span class="actual-price">$40</span>
                    </div>
                </div>

                <div class="product-card">
                    <div class="product-image">
                        <span class="discount-tag">50% off</span>
                        <img src="https://images-static.nykaa.com/uploads/3d28f9a0-b93c-475f-8861-2376a406d953.jpg?tr=w-360,cm-pad_resize"
                            alt="" class="product-thumb">
                        <button class="card-btn">Add to Wishlist</button>
                    </div>
                    <div class="product-info">
                        <h2 class="product-brand">Brand</h2>
                        <p class="product-short-description">A short line about the product</p>
                        <span class="price">$20</span>
                        <span class="actual-price">$40</span>
                    </div>
                </div>

                <div class="product-card">
                    <div class="product-image">
                        <span class="discount-tag">50% off</span>
                        <img src="https://images-static.nykaa.com/uploads/1c9b1b23-2474-416d-9ef5-d7e8c5448120.jpg?tr=w-360,cm-pad_resize"
                            alt="" class="product-thumb">
                        <button class="card-btn">Add to Wishlist</button>
                    </div>
                    <div class="product-info">
                        <h2 class="product-brand">Brand</h2>
                        <p class="product-short-description">A short line about the product</p>
                        <span class="price">$20</span>
                        <span class="actual-price">$40</span>
                    </div>
                </div>

                <div class="product-card">
                    <div class="product-image">
                        <span class="discount-tag">50% off</span>
                        <img src="https://media6.ppl-media.com/tr:h-250,w-250,c-at_max,dpr-2/static/img/product/387634/alps-goodness-powder-beetroot-50-g-91-17-13-91_1_display_1727949118_90b28018.jpg"
                            alt="" class="product-thumb">
                        <button class="card-btn">Add to Wishlist</button>
                    </div>
                    <div class="product-info">
                        <h2 class="product-brand">Brand</h2>
                        <p class="product-short-description">A short line about the product</p>
                        <span class="price">$20</span>
                        <span class="actual-price">$40</span>
                    </div>
                </div>


            </div>
            <button class="next-btn">
                <img src="/images/next-btn.png" alt="Next" class="nxt">
            </button>
        </section>
    </div>
    <div class="brands">
        <h2 class="brands-heading">Hot Brands on Offers</h2>
        <div class="product-container-1">
            <div class="card-1">
                <div class="product-1">
                    <div class="image">
                        <span class="offers">offers 20%</span>
                        <a href="#"><img
                                src="https://images-static.nykaa.com/uploads/872c74cd-57b7-42e3-bcd1-473bd22329ba.jpg?tr=w-360,cm-pad_resize"
                                class="brand-img" alt="brands"></a>
                        <button class="brand-btn">Visit >></button>
                        <h2>Shop now</h2>
                        <span>Style your ways about the product</span>
                    </div>
                </div>
            </div>

            <div class="card-1">
                <div class="product-1">
                    <div class="image">
                        <span class="offers">offers 20% </span>
                        <a href="#"><img
                                src="https://images-static.nykaa.com/uploads/e53da35f-45f8-4bbf-bf07-d7bbab193c3c.jpg?tr=w-360,cm-pad_resize"
                                class="brand-img" alt="brands"></a>
                        <button class="brand-btn">Visit >></button>
                        <h2>Shop now</h2>
                        <span>Style your ways about the product</span>
                    </div>
                </div>
            </div>

            <div class="card-1">
                <div class="product-1">
                    <div class="image">
                        <span class="offers">offers 20% </span>
                        <a href="#"><img
                                src="https://images-static.nykaa.com/uploads/3f114b5f-13cd-438f-9931-138a12b7fd4f.jpg?tr=w-360,cm-pad_resize"
                                class="brand-img" alt="brands"></a>
                        <button class="brand-btn">Visit >></button>
                        <h2>Shop now</h2>
                        <span>Style your ways about the product</span>
                    </div>
                </div>
            </div>

            <div class="card-1">
                <div class="product-1">
                    <div class="image">
                        <span class="offers">offers 20% </span>
                        <a href="#"><img
                                src="https://images-static.nykaa.com/uploads/95126df6-b360-476a-b63b-c0ed74c6d6b3.jpg?tr=w-360,cm-pad_resize"
                                class="brand-img" alt="brands"></a>
                        <button class="brand-btn">Visit >></button>
                        <h2>Shop now</h2>
                        <span>Style your ways about the product</span>
                    </div>
                </div>
            </div>

            <div class="card-1">
                <div class="product-1">
                    <div class="image">
                        <span class="offers">offers 20%</span>
                        <a href="#"><img
                                src="https://images-static.nykaa.com/uploads/dfc27d41-6e25-4de7-b3d6-d9a1a9eef168.jpg?tr=w-360,cm-pad_resize"
                                class="brand-img" alt="brands"></a>
                        <button class="brand-btn">Visit >></button>
                        <h2>Shop now</h2>
                        <span>Style your ways about the product</span>
                    </div>
                </div>
            </div>

            <div class="card-1">
                <div class="product-1">
                    <div class="image">
                        <span class="offers">offers 20%</span>
                        <a href="#"><img
                                src="https://images-static.nykaa.com/uploads/431d9325-ad4e-4145-8b89-00a70b2785a4.jpg?tr=w-360,cm-pad_resize"
                                class="brand-img" alt="brands"></a>
                        <button class="brand-btn">Visit >></button>
                        <h2>Shop now</h2>
                        <span>Style your ways about the product</span>
                    </div>
                </div>
            </div>

            <div class="card-1">
                <div class="product-1">
                    <div class="image">
                        <span class="offers">offers 20%</span>
                        <a href="#"><img
                                src="https://images-static.nykaa.com/uploads/8139734a-fb9b-40e0-a3a5-270586a7186d.jpg?tr=w-360,cm-pad_resize"
                                class="brand-img" alt="brands"></a>
                        <button class="brand-btn">Visit >></button>
                        <h2>Shop now</h2>
                        <span>Style your ways about the product</span>
                    </div>
                </div>
            </div>

            <div class="card-1">
                <div class="product-1">
                    <div class="image">
                        <span class="offers">offers 20%</span>
                        <a href="#"><img
                                src="https://images-static.nykaa.com/uploads/4ee71bd4-d592-4667-8a93-821f1bc21e0c.jpg?tr=w-360,cm-pad_resize"
                                class="brand-img" alt="brands"></a>
                        <button class="brand-btn">Visit >></button>
                        <h2>Shop now</h2>
                        <span>Style your ways about the product</span>
                    </div>
                </div>
            </div>

            <div class="card-1">
                <div class="product-1">
                    <div class="image">
                        <span class="offers">offers 20%</span>
                        <a href="#"><img
                                src="https://images-static.nykaa.com/uploads/d5d2453f-16b5-4e32-9fa4-1105e3d246ab.jpg?tr=w-360,cm-pad_resize"
                                class="brand-img" alt="brands"></a>
                        <button class="brand-btn">Visit >></button>
                        <h2>Shop now</h2>
                        <span>Style your ways about the product</span>
                    </div>
                </div>
            </div>

            <div class="card-1">
                <div class="product-1">
                    <div class="image">
                        <span class="offers">offers 20%</span>
                        <a href="#"><img
                                src="https://images-static.nykaa.com/uploads/a7a3309d-e433-4e2f-847b-63351fe6d9e7.jpg?tr=w-360,cm-pad_resize"
                                class="brand-img" alt="brands"></a>
                        <button class="brand-btn">Visit >></button>
                        <h2>Shop now</h2>
                        <span>Style your ways about the product</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="static-image">
        <a href="#">
            <img src="/images/static-img.png" alt="image" class="static-img">
        </a>
        <span></span>
    </div>
    <div class="container-large-cards">
        <div class="wrapper-large-cards">
            <div class="cards-large">
                <div class="images-large">
                    <img src="/images/large cards-4.jpg" alt="large-cards" class="large-card-img">
                    <span class="blur">Makeup</span>
                </div>
                <div class="info">
                    <span class="infos">Upto 40% Off</span>
                    <span class="infos-1">on entire brand</span>
                </div>
            </div>

            <div class="cards-large">
                <div class="images-large">
                    <img src="/images/large cards-5.webp" alt="large-cards" class="large-card-img">
                    <span class="blur">fragrance</span>
                </div>
                <div class="info">
                    <span class="infos">Upto 40% Off</span>
                    <span class="infos-1">on entire brand</span>
                </div>
            </div>

            <div class="cards-large">
                <div class="images-large">
                    <img src="/images/large cards7.png" alt="large-cards" class="large-card-img">
                    <span class="blur">Hair Care</span>
                </div>
                <div class="info">
                    <span class="infos">Upto 40% Off</span>
                    <span class="infos-1">on entire brand</span>
                </div>
            </div>
        </div>
    </div>
   
    <footer data-th-replace="~{fragment/common :: footer}"></footer>
    <script>

        function homePage() {
            const nextBtn = document.querySelector('.next-btn');
            const prevBtn = document.querySelector('.pre-btn');
            const productContainer = document.querySelector('.product-container');

            nextBtn.addEventListener('click', () => {
                productContainer.scrollBy({ left: 300, behavior: 'smooth' });
            });
            prevBtn.addEventListener('click', () => {
                productContainer.scrollBy({ left: -300, behavior: 'smooth' });
            });
        }
        homePage();

        function searchswipe() {
            let button = document.getElementById("parentbtn");
            let searchDiv = document.getElementById("searchdiv");
            button.addEventListener("click", () => {
                searchDiv.style.display = "block";
            });
        }
        searchswipe();

    </script>

</body>

</html>