<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fash-inn</title>
    <link rel="stylesheet" href="/style/customer.home.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">
</head>

<body>
    <div class="nav-content">
        <div class="navbar">
            <div class="logo">
                <a href="#"><img src="/images/logo.png" alt="logo" class="logo-img"></a>
            </div>
            <ul class="unordered">
                <li class="lists" id="drop-1"><a class="nav-content" href="#">Woman</a></li>
                <li class="lists"><a class="nav-content" href="#">Men</a></li>
                <li class="lists"><a class="nav-content" href="#">Kids</a></li>
                <li class="lists"><a class="nav-content" href="#">Skincare</a></li>
                <li class="lists"><a class="nav-content" href="#">Hair</a></li>
                <li class="lists"><a class="nav-content" href="#">Fragrance</a></li>
                <li><button class="search-btn"><i class="fas fa-search icon"></i></button></li>
                <li class="lists-1" ><a href="#">
                    <svg xmlns="http://www.w3.org/2000/svg" height="15px" viewBox="0 -960 960 960" width="15px" fill="#FFFFFF"><path d="M222-255q63-44 125-67.5T480-346q71 0 133.5 23.5T739-255q44-54 62.5-109T820-480q0-145-97.5-242.5T480-820q-145 0-242.5 97.5T140-480q0 61 19 116t63 109Zm257.81-195q-57.81 0-97.31-39.69-39.5-39.68-39.5-97.5 0-57.81 39.69-97.31 39.68-39.5 97.5-39.5 57.81 0 97.31 39.69 39.5 39.68 39.5 97.5 0 57.81-39.69 97.31-39.68 39.5-97.5 39.5Zm.66 370Q398-80 325-111.5t-127.5-86q-54.5-54.5-86-127.27Q80-397.53 80-480.27 80-563 111.5-635.5q31.5-72.5 86-127t127.27-86q72.76-31.5 155.5-31.5 82.73 0 155.23 31.5 72.5 31.5 127 86t86 127.03q31.5 72.53 31.5 155T848.5-325q-31.5 73-86 127.5t-127.03 86Q562.94-80 480.47-80Zm-.47-60q55 0 107.5-16T691-212q-51-36-104-55t-107-19q-54 0-107 19t-104 55q51 40 103.5 56T480-140Zm0-370q34 0 55.5-21.5T557-587q0-34-21.5-55.5T480-664q-34 0-55.5 21.5T403-587q0 34 21.5 55.5T480-510Zm0-77Zm0 374Z"/></svg>
                    Account</a></li>
                <li class="lists-1"><a href="#"> &#9825 Wishlists</a></li>
                <li class="lists-1"><a href="#">&#x1F6D2 Cart</a></li>
            </ul>
            <!-- <button class="search-btn"><i class="fas fa-search icon"></i></button>
            <ul class="navbar-2">
                <li class="lists-1"><a href="#">&#8448 Account</a></li>
                <li class="lists-1"><a href="#"> &#9825 Wishlists</a></li>
                <li class="lists-1"><a href="#">&#x1F6D2 Cart</a></li>
            </ul> -->
        </div>
        <!-- <div>
            <nav class="dropdown">
                <ul>
                    <li class="dropdown-lists">Sale! &#x25BE</li>
                    <li class="dropdown-lists">Trending &#x25BE</li>
                    <li class="dropdown-lists">Topwear &#x25BE</li>
                    <li class="dropdown-lists">Bottomwear &#x25BE</li>
                    <li class="dropdown-lists">Bags &#x25BE</li>
                    <li class="dropdown-lists">Watches &#x25BE</li>
                    <li class="dropdown-lists">Skincare &#x25BE</li>
                    <li class="dropdown-lists">Infants &#x25BE</li>
                </ul>
            </nav>
        </div> -->
        <hr>
    </div>
    <div class="carousel-container">
        <div class="carousel">
            <img src="/images/slide-1.webp" alt="Image 1" class="img">
        </div>
        <div class="carousel">
            <img src="/images/slide-2.webp" alt="Image 2" class="img">
        </div>
        <div class="carousel">
            <img src="/images/slide-3.webp" alt="Image 3" class="img">
        </div>
        <div class="carousel">
            <img src="/images/slide-4.webp" alt="Image 4" class="img">
        </div>
    </div>
    </div>
    <h2 class="product-category">Best Selling</h2>
    <div class="product-elements">
        <section class="product">
            <button class="pre-btn">
                <img src="/images/previous-btn.png" alt="Previous" class="pre">
            </button>
            <div class="product-container">
                <!-- Add as many product cards as needed -->
                <div class="product-card">
                    <div class="product-image">
                        <span class="discount-tag">50% off</span>
                        <img src="https://cdn.pixabay.com/photo/2016/11/19/18/06/feet-1840619_1280.jpg" alt=""
                            class="product-thumb">
                        <button class="card-btn">Add to Wishlist</button>
                    </div>
                    <div class="product-info">
                        <h2 class="product-brand">Brand</h2>
                        <p class="product-short-description">A short line about the product</p>
                        <span class="price">$20</span>
                        <span class="actual-price">$40</span>
                    </div>
                </div>

                <div class="product-card">
                    <div class="product-image">
                        <span class="discount-tag">50% off</span>
                        <img src="https://images-static.nykaa.com/uploads/e3f348e6-da78-4ebe-9c52-a9b083c0ed0f.jpg?tr=w-360,cm-pad_resize"
                            alt="" class="product-thumb">
                        <button class="card-btn">Add to Wishlist</button>
                    </div>
                    <div class="product-info">
                        <h2 class="product-brand">Brand</h2>
                        <p class="product-short-description">A short line about the product</p>
                        <span class="price">$20</span>
                        <span class="actual-price">$40</span>
                    </div>
                </div>

                <div class="product-card">
                    <div class="product-image">
                        <span class="discount-tag">50% off</span>
                        <img src="https://images-static.nykaa.com/uploads/faf03175-7f72-43f3-acbc-1616eb1b9d2c.jpg?tr=w-360,cm-pad_resize"
                            alt="" class="product-thumb">
                        <button class="card-btn">Add to Wishlist</button>
                    </div>
                    <div class="product-info">
                        <h2 class="product-brand">Brand</h2>
                        <p class="product-short-description">A short line about the product</p>
                        <span class="price">$20</span>
                        <span class="actual-price">$40</span>
                    </div>
                </div>

                <div class="product-card">
                    <div class="product-image">
                        <span class="discount-tag">50% off</span>
                        <img src="https://images-static.nykaa.com/uploads/3d28f9a0-b93c-475f-8861-2376a406d953.jpg?tr=w-360,cm-pad_resize"
                            alt="" class="product-thumb">
                        <button class="card-btn">Add to Wishlist</button>
                    </div>
                    <div class="product-info">
                        <h2 class="product-brand">Brand</h2>
                        <p class="product-short-description">A short line about the product</p>
                        <span class="price">$20</span>
                        <span class="actual-price">$40</span>
                    </div>
                </div>

                <div class="product-card">
                    <div class="product-image">
                        <span class="discount-tag">50% off</span>
                        <img src="https://images-static.nykaa.com/uploads/1c9b1b23-2474-416d-9ef5-d7e8c5448120.jpg?tr=w-360,cm-pad_resize"
                            alt="" class="product-thumb">
                        <button class="card-btn">Add to Wishlist</button>
                    </div>
                    <div class="product-info">
                        <h2 class="product-brand">Brand</h2>
                        <p class="product-short-description">A short line about the product</p>
                        <span class="price">$20</span>
                        <span class="actual-price">$40</span>
                    </div>
                </div>

                <div class="product-card">
                    <div class="product-image">
                        <span class="discount-tag">50% off</span>
                        <img src="https://media6.ppl-media.com/tr:h-250,w-250,c-at_max,dpr-2/static/img/product/387634/alps-goodness-powder-beetroot-50-g-91-17-13-91_1_display_1727949118_90b28018.jpg"
                            alt="" class="product-thumb">
                        <button class="card-btn">Add to Wishlist</button>
                    </div>
                    <div class="product-info">
                        <h2 class="product-brand">Brand</h2>
                        <p class="product-short-description">A short line about the product</p>
                        <span class="price">$20</span>
                        <span class="actual-price">$40</span>
                    </div>
                </div>


                <!-- Repeat product-card for more images -->
            </div>
            <button class="next-btn">
                <img src="/images/next-btn.png" alt="Next" class="nxt">
            </button>
        </section>
    </div>
    <div class="brands">
        <h2 class="brands-heading">Hot Brands on Offers</h2>
        <div class="product-container-1">
            <div class="card-1">
                <div class="product-1">
                    <div class="image">
                        <span class="offers">offers 20%</span>
                        <a href="#"><img
                                src="https://images-static.nykaa.com/uploads/872c74cd-57b7-42e3-bcd1-473bd22329ba.jpg?tr=w-360,cm-pad_resize"
                                class="brand-img" alt="brands"></a>
                        <button class="brand-btn">Visit >></button>
                    </div>
                </div>
                <div class="details">
                    <h2>Shop now</h2>
                    <span>Style your ways about the product</span>
                </div>
            </div>

            <div class="card-1">
                <div class="product-1">
                    <div class="image">
                        <span class="offers">offers 20% </span>
                        <a href="#"><img
                                src="https://images-static.nykaa.com/uploads/e53da35f-45f8-4bbf-bf07-d7bbab193c3c.jpg?tr=w-360,cm-pad_resize"
                                class="brand-img" alt="brands"></a>
                        <button class="brand-btn">Visit >></button>
                    </div>
                </div>
                <div class="details">
                    <h2>Shop now</h2>
                    <span>Style your ways about the product</span>
                </div>
            </div>

            <div class="card-1">
                <div class="product-1">
                    <div class="image">
                        <span class="offers">offers 20% </span>
                        <a href="#"><img
                                src="https://images-static.nykaa.com/uploads/3f114b5f-13cd-438f-9931-138a12b7fd4f.jpg?tr=w-360,cm-pad_resize"
                                class="brand-img" alt="brands"></a>
                        <button class="brand-btn">Visit >></button>
                    </div>
                </div>
                <div class="details">
                    <h2>Shop now</h2>
                    <span>Style your ways about the product</span>
                </div>
            </div>

            <div class="card-1">
                <div class="product-1">
                    <div class="image">
                        <span class="offers">offers 20% </span>
                        <a href="#"><img
                                src="https://images-static.nykaa.com/uploads/95126df6-b360-476a-b63b-c0ed74c6d6b3.jpg?tr=w-360,cm-pad_resize"
                                class="brand-img" alt="brands"></a>
                        <button class="brand-btn">Visit >></button>
                    </div>
                </div>
                <div class="details">
                    <h2>Shop now</h2>
                    <span>Style your ways about the product</span>
                </div>
            </div>

            <div class="card-1">
                <div class="product-1">
                    <div class="image">
                        <span class="offers">offers 20%</span>
                        <a href="#"><img
                                src="https://images-static.nykaa.com/uploads/dfc27d41-6e25-4de7-b3d6-d9a1a9eef168.jpg?tr=w-360,cm-pad_resize"
                                class="brand-img" alt="brands"></a>
                        <button class="brand-btn">Visit >></button>
                    </div>
                </div>
                <div class="details">
                    <h2>Shop now</h2>
                    <span>Style your ways about the product</span>
                </div>
            </div>

            <div class="card-1">
                <div class="product-1">
                    <div class="image">
                        <span class="offers">offers 20%</span>
                        <a href="#"><img
                                src="https://images-static.nykaa.com/uploads/431d9325-ad4e-4145-8b89-00a70b2785a4.jpg?tr=w-360,cm-pad_resize"
                                class="brand-img" alt="brands"></a>
                        <button class="brand-btn">Visit >></button>
                    </div>
                </div>
                <div class="details">
                    <h2>Shop now</h2>
                    <span>Style your ways about the product</span>
                </div>
            </div>

            <div class="card-1">
                <div class="product-1">
                    <div class="image">
                        <span class="offers">offers 20%</span>
                        <a href="#"><img
                                src="https://images-static.nykaa.com/uploads/8139734a-fb9b-40e0-a3a5-270586a7186d.jpg?tr=w-360,cm-pad_resize"
                                class="brand-img" alt="brands"></a>
                        <button class="brand-btn">Visit >></button>
                    </div>
                </div>
                <div class="details">
                    <h2>Shop now</h2>
                    <span>Style your ways about the product</span>
                </div>
            </div>

            <div class="card-1">
                <div class="product-1">
                    <div class="image">
                        <span class="offers">offers 20%</span>
                        <a href="#"><img
                                src="https://images-static.nykaa.com/uploads/4ee71bd4-d592-4667-8a93-821f1bc21e0c.jpg?tr=w-360,cm-pad_resize"
                                class="brand-img" alt="brands"></a>
                        <button class="brand-btn">Visit >></button>
                    </div>
                </div>
                <div class="details">
                    <h2>Shop now</h2>
                    <span>Style your ways about the product</span>
                </div>
            </div>

            <div class="card-1">
                <div class="product-1">
                    <div class="image">
                        <span class="offers">offers 20%</span>
                        <a href="#"><img
                                src="https://images-static.nykaa.com/uploads/d5d2453f-16b5-4e32-9fa4-1105e3d246ab.jpg?tr=w-360,cm-pad_resize"
                                class="brand-img" alt="brands"></a>
                        <button class="brand-btn">Visit >></button>
                    </div>
                </div>
                <div class="details">
                    <h2>Shop now</h2>
                    <span>Style your ways about the product</span>
                </div>
            </div>

            <div class="card-1">
                <div class="product-1">
                    <div class="image">
                        <span class="offers">offers 20%</span>
                        <a href="#"><img
                                src="https://images-static.nykaa.com/uploads/a7a3309d-e433-4e2f-847b-63351fe6d9e7.jpg?tr=w-360,cm-pad_resize"
                                class="brand-img" alt="brands"></a>
                        <button class="brand-btn">Visit >></button>
                    </div>
                </div>
                <div class="details">
                    <h2>Shop now</h2>
                    <span>Style your ways about the product</span>
                </div>
            </div>
        </div>
    </div>

    <div class="static-image">
        <a href="#">
            <img src="/images/static-img.png" alt="image" class="static-img">
        </a>

    </div>

    <script>
        const nextBtn = document.querySelector('.next-btn');
        const prevBtn = document.querySelector('.pre-btn');
        const productContainer = document.querySelector('.product-container');

        nextBtn.addEventListener('click', () => {
            productContainer.scrollBy({ left: 300, behavior: 'smooth' });
        });

        prevBtn.addEventListener('click', () => {
            productContainer.scrollBy({ left: -300, behavior: 'smooth' });
        });

        // let currentIndex = 0;
        // const images = document.querySelectorAll('.carousel img');
        // const wrapper = document.querySelector('.carousel-wrapper');

        // function moveToNextImage() {
        //     currentIndex++;
        //     if (currentIndex >= images.length) {
        //         currentIndex = 0;  // Reset to the first image
        //     }
        //     updateCarouselPosition();
        // }

        // function updateCarouselPosition() {
        //     const offset = -currentIndex * 100;
        //     wrapper.style.transform = `translateX(${offset}%)`;
        // }

        // // Move to the next image every 3 seconds
        // setInterval(moveToNextImage, 3000);
    </script>
</body>

</html>