<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Enter OTP</title>
    <link rel="stylesheet" href="/style/otp-login.css">
</head>

<body>
    <navbar class="navbar">
        <div class="nav">
            <a href="http://localhost:1211/customer/home"><img class="logo-img" alt="logo" src="/images/logo.png"></a>
            <a href="http://localhost:1211/customer/sign-in" class="redirect-signin">Sign-in</a>
        </div>
    </navbar>
    <div class="container">
        <div class="contain">
            <h1 class="slogan">Style Redefined,
            </h1>
            <h1 class="slogan">Every Day and more.</h1>
            <p class="otp-paragraph">Ready to Shop? Enter your Phone number to get OTP</p>
            <div class="input">
                <input type="number" placeholder="Enter your phone number" class="input-number">
                <button class="otp-btn">Get OTP</button>
            </div>
        </div>
    </div>
</body>

</html>