<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style/product.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>

<body>
    <div class="admin-container">
        <div data-th-replace="~{'fragment/common' :: sidebar}"></div>

        <main class="main-content">
            <h1>Dashboard</h1>
            <div data-th-replace="~{'fragment/common' :: admin-cards}"></div>
            <h2>Manage Products</h2>
            <button id="addproductbtn">Add Product</button>
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Product</th>
                        <th>Images</th>
                        <th>Price</th>
                        <th>Stock</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr data-th-each="product:${products}">
                        <td data-th-text="${product.productId}"></td>
                        <td data-th-text="${product.productTitle}"></td>
                        <td><img data-th-src="${product.productImageUrl}" alt="Product Image" width="50"></td>
                        <td class="td" data-th-text="${product.productPrice}">$20</td>
                        <td class="td" data-th-text="${product.productStockQuantity}">65</td>
                        <td class="td">
                            <button class="button" id="editbutton1">Edit</button>
                            <button class="button">Delete</button>
                        </td>
                    </tr>
                </tbody>

            </table>
        </main>
    </div>

    <form class="popup-overlay" id="popupOverlay">
        <div class="popup">
            <h2>Add Product</h2>
            <form action="/product" method="post">
                <label for="productName">Product Name:</label>
                <input type="text" placeholder="Product Name" name="productTitle">

                <label for="productPrice">Category Price:</label>
                <input type="text" placeholder="Category Price"  name="productPrice">

            <label for="productId">Product Price:</label>
            <input type="text" placeholder="Category Price">

                <label for="productDescription">Product Description:</label>
                <textarea placeholder="Product Description" name="productDescription"></textarea>

                <label for="productImage">Product Image:</label>
                <input type="file" accept="image/*">

                <select name="category" id="">
                    <option data-th-each="category : ${categories}" data-th-value="${category.categoryId}" data-th-text="${category.categoryTitle}"></option>
                </select>

                <button type="submit" id="submit-button">Submit</button>
                <button class="close-btn" id="closebtn">Close</button>
            </form>
        </div>
    </form>

    <script>
        let displayDiv = document.getElementById("popupOverlay");
        let closeButton = document.getElementById("closebtn");
        let submitButton = document.getElementById("submit-button");
        let button = document.getElementById("addproductbtn");
        button.addEventListener('click', () => {
            displayDiv.style.display = "block";
        });

        closeButton.addEventListener('click', () => {
            displayDiv.style.display = "none";
        });

        submitButton.addEventListener('click', () => {
            displayDiv.style.display = "none";
            alert("Product added successfully!");
        })
    </script>
</body>

</html>