<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign-up Now & Login</title>
    <link rel="stylesheet" href="../../static/style/sign-up.css">
</head>
<body>
    <div class="container">
        <div class="contained">
            <input type="text" name="fullname" class="input-box" placeholder="Full Name" required>
        </div>

        <div class="contained">
            <input type="text" class="input-box" placeholder="Gender*">
        </div>

        <div class="contained">
            <input type="email" name="email" class="input-box" placeholder="Enter your Email-Address" required>
        </div>

        <div class="contained">
            <input type="date" name="dob" id="input-dob" placeholder="DOB" required>
            <input  type="tel" name="phone" class="input-box" id="ph-number" placeholder="Phone Number">
        </div>

        <div class="contained">
            <input type="file" name="profile_picture" id="profile-img" accept="image/*">
        </div>

        <div class="contained">
            <input type="password" name="password" class="input-box" placeholder="Enter Password" required minlength="6">
        </div>

        <div class="contained">
            <input type="password" name="password" class="input-box" placeholder="Confirm Password" required minlength="6">
        </div>

        <div class="contained">
            <input type="text" class="input-box" placeholder="Country/Location">
        </div>
    </div>
</body>
</html>