<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style/widget.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>

<body>
    <div class="admin-container">
        <aside class="sidebar">
            <h1>Fashin Admin</h1>
            <ul>
                <li><a href="http://localhost:1211/customer/admin"><i class="fas fa-tachometer-alt"></i> Dashboard</a></li>
                <li><a href="#"><i class="fas fa-shopping-cart"></i> Orders</a></li>
                <li><a href="http://localhost:1211/customer/product"><i class="fas fa-box"></i> Products</a></li>
                <li><a href="http://localhost:1211/customer/category"><i class="fas fa-tags"></i> Category</a></li>
                <li><a href="http://localhost:1211/customer/widget"><i class="fas fa-tags"></i> Widget</a></li>
                <li><a href="#"><i class="fas fa-cog"></i> Settings</a></li>
                <li><a href="#"><i class="fas fa-sign-out-alt"></i> Logout</a></li>
            </ul>
        </aside>

            <form action="/customer/widget/add" method="post" class="addWidgetContainer">
                <input type="text" class="input" name="widgetName" placeholder="Enter a widget name..." data-th-value="${widget != null ? widget.widgetName :null}">
                <input type="text" class="input" placeholder="sequence id" name="sequence" data-th-value="${widget!= null ? widget.sequence:null}">
                <input type="hidden" name="widgetId" data-th-value="${widget != null ? widget.widgetId :''}">
                <input type="submit" id="submitbtn">
            </form>

        <main class="main-content">
            <h1>Widget</h1>
            <div class="addProductWidgetBtnContainer">
                <button class="addProductWidgetBtn" id="addProductButton">Add product to widget</button>
            </div>
            <table>
                <tablehead>
                    <tr>
                        <th>Widget Name</th>
                        <th> Widget Id</th>
                        <th> sequence</th>
                        <th>Widget Status</th>
                        <th>Action</th>
                    </tr>
                    <tbody id="categoryTable">
                        <tr data-th-each="widget: ${widgets}">
                            <td data-th-text="${widget.widgetName}"></td>
                            <td data-th-text="${widget.widgetId}"></td>
                            <td data-th-text="${widget.sequence}"></td>
                            <td data-th-text="${widget.widgetStatus}"
                                data-th-class="${widget.widgetStatus.name()=='ACTIVE'?'clr-yellow': 'clr-red'}"></td>
                            <td>
                                <a data-th-href="|/customer/widget/edit?id=${widget.widgetId}|" class="action-link"> <i
                                        class="fa-solid fa-pen-to-square"></i></a>
                                <a data-th-href="|/customer/widget/remove?id=${widget.widgetId}|" class="action-link"><i
                                        class="fa-solid fa-trash"></i></a>
                                <a data-th-href="|/customer/widget/products?id=${widget.widgetId}|"
                                    title="show products" style="all:unset; cursor: pointer;"><i
                                        class="fas fa-box-open"></i> </a>
                            </td>
                        </tr>
                    </tbody>
                </tablehead>
            </table>
        </main>
    </div>


    <!--Modal-->
    <div class="widgetModel d-none">
        <div class="modal-box">
            <div class="cross-icon">
                <button id="closebtn"><i class="fa-solid fa-xmark"></i></button>
            </div>
            <div class="modal-header">
                <h2>Add product to widget</h2>
            </div>
            <hr>
            <div class="modal-body">
                <form action="/widget/product/add" method="post" enctype="multipart/form-data" id="widgetProductForm">
                    <p>Note: Download template <a href="/file/widget-template.csv" download>click the link</a></p>
                    <input type="file" accept="text/csv" name="file" id="input1">
                    <div class="text-center">
                        <input type="submit" value="upload" id="uploadinp">
                    </div>
                </form>
            </div>

        </div>
    </div>

    <script>
        let addProductButton = document.getElementById("addProductButton");
        let closebutton = document.getElementById("closebtn");
        let display= document.getElementsByClassName("d-none")[0];
        addProductButton.addEventListener('click',()=>{
            display.classList.toggle("d-none");
        });

        closebutton.addEventListener('click',()=>{
            display.classList.add("d-none");
        })
    </script>

</body>

</html>