<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style/widget.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>

<body>
    <div class="admin-container">
        <aside class="sidebar">
            <h1>Fashin Admin</h1>
            <ul>
                <li><a href="http://localhost:1211/customer/admin"><i class="fas fa-tachometer-alt"></i> Dashboard</a>
                </li>
                <li><a href="#"><i class="fas fa-shopping-cart"></i> Orders</a></li>
                <li><a href="http://localhost:1211/customer/product"><i class="fas fa-box"></i> Products</a></li>
                <li><a href="http://localhost:1211/customer/category"><i class="fas fa-tags"></i> Category</a></li>
                <li><a href="http://localhost:1211/customer/widget"><i class="fas fa-tags"></i> Widget</a></li>
                <li><a href="#"><i class="fas fa-cog"></i> Settings</a></li>
                <li><a href="#"><i class="fas fa-sign-out-alt"></i> Logout</a></li>
            </ul>
        </aside>
        <main class="main-content">
            <h1>Widget</h1>
            <table>
                <tablehead>
                    <tr>
                        <th>Widget Name</th>
                        <th>Widget Status</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tablebody>
                        <tr>
                            <td></td>
                            <td></td>
                            <td class="td">
                                <button class="button" id="editbutton1">Edit</button>
                                <button class="button">Delete</button>
                            </td>
                        </tr>
                    </tablebody>
            </table>
        </main>
    </div>

    <form class="popup-overlay" id="popupOverlay">
        <div class="popup">
            <h2>Add Product</h2>
            <label for="productName">Category Name:</label>
            <input type="text" placeholder="Category Name">

            <label for="productId">Category ID:</label>
            <input type="text" placeholder="Category ID">

            <label for="productId">Category Price:</label>
            <input type="text" placeholder="Category Price">

            <label for="productDescription">Category Description:</label>
            <textarea placeholder="Category Description"></textarea>

            <label for="productImage">Category Image:</label>
            <input type="file" accept="image/*">

            <button id="submit-button">Submit</button>
            <button class="close-btn" id="closebtn">Close</button>
        </div>
    </div>
<div class="addWidgetContainer">
    <form action="/customer/admin/add" method="post">
    <input type="text" name="=widgetName" placeholder="Enter a widget name..."
    data-th-value ="${widget != null ? widget.widgetName :''}">
    <input type="text" placeholder="sequence id" name="sequence" data-th-value="${widget!= null ? widget.sequence:''}">
    <input type="submit">
</form>
</div>

<div class="addProductWidgetBtnContainer">
    <button class="addProductWidgetBtn" onclick="openModel()">Add product to widget</button>
</div>

<table>
    <thread>
        <tr>
            <th> Widget Name</th>
            <th> Widget Id</th>
            <th> sequence</th>
            <th> Widget Status</th>
            <th>Actions</th>
        </tr>
    </thread>
    <tbody id="categoryTable">
        <tr data-th-each="widget: ${widgets}">
            <td data-th-text="${widget.widgetName}"></td>
            <td data-th-text="${widget.widgetId}"></td>
            <td data-th-text="${widget.sequence}"></td>
            <td data-th-text="${widget.widgetStatus}">
                data-th-class="${widget.widgetStatus.name()=='ACTIVE'?'clr-yellow': 'clr-red'}"></td>
             <td>
                <a data-th-href="|/customer/widget/edit?id=${widget.widgetId}|"class="action-link"> <i
                class="fa-solid fa-pen-to-square"></i></a>
                <a data-th-href="|/customer/widget/remove?id=${widget.widgetId}|" class="action-link"><i
                class="fa-solid fa-trash"></i></a>
                <a data-th-href="|/customer/widget/products?id=${widget.widgetId}|"title="show products"
                style="all:unset; cursor: pointer;"><i class="fas fa-box-open"></i> </a>
             </td>
        </tr>
    </tbody>
</table>
<!--Modal-->
<div class = "widgetModel d-none">
    <div class="modal-box">
        <div class ="modal-header">
            <h2>Add product to widget</h2>
        </div>
        <hr>
        <div class="modal-body">
            <form action="/customer/widget/product/add" method="post" enctype="multipart/form-data"
            id="widgetProductForm">
        <p>Note: Download template <a href="/file/widget-template.csv" download>click the link</a></p>
    <input type ="file" accept="text/csv" name="file">
<div class="text-center">
    <input type="submit" value="upload">
     </div>
      </form>
        </div>
<div class="cross-icon">
    <button onclick="closeModal()"><i class="fa-solid fa-xmark"></i></button>
</div>
    </div>
</div>
    </form>

    <script>
        let displayDiv = document.getElementById("popupOverlay");
        let closeButton = document.getElementById("closebtn");
        let submitButton = document.getElementById("submit-button");
        let button = document.getElementById("addproductbtn");
        button.addEventListener('click', () => {
            displayDiv.style.display = "flex";
        });

        closeButton.addEventListener('click', () => {
            displayDiv.style.display = "none";
        });

        submitButton.addEventListener('click', () => {
            displayDiv.style.display = "none";
            alert("Product added successfully!");
        })
    </script>


</body>

</html>