body {
    height: 100vh;
    width: 100%;
}

.navbar {
    display: flex;
    position: absolute;
    top:0;
    justify-content: space-between;
    align-items: center;
    background-color: #673147;
    height: 6.25rem;
    width: 100%;
    z-index:10;
}

.navbar ul li {
    display: inline-block;
    margin-left: 1rem;
    right: 10.5rem;
}

.navbar li a {
    color: #EFEFEF;
    text-decoration: none;
    padding: 0.500rem;
    font-size: 1.125rem;
    font-weight: bolder;
    border-radius: 0.3125rem;
}

.lists {
    transition: 0.2s ease;
}

.lists:hover {
    scale: 1.1;
}

.lists-1 {
    transition: 0.2s ease;
}

.lists-1:hover {
    scale: 1.1;
}

.logo-img {
    width: 8.12rem;
    height: 5rem;
}

.navbar li a:hover {
    color: white;
    background-color: rgba(0, 0, 0, 0.1);
}

#parentbtn:hover {
    cursor: pointer;
    background-color: #673147;
    scale: 1.1;
}

#parentbtn {
    background: none;
    border: none;
    color: #EFEFEF;
    position: relative;
    top: 5px;
    margin: 2px;
    background-color: #673147;
    border: none;
    font-size: 23px;
    color: #ffffff;
    width: 110px;
    height: 40px;
    border-radius: 15px;
    transition: 0.3s ease;
}

#inp {
    width: 90%;
    height: 40px;
    border-radius: 10px;
}

#subbtn {
    margin-left: 35%;
    width: 100px;
    height: 40px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
}

::placeholder {
    color: white;
}

.footer {
    top: 400px;
    position: relative;
    background-color: #EFEFEF;
    width: 100%;
    height:0px !important;
}

.first-bar {
    font-size: 15px;
    font-weight: 300;
    position: absolute;
    background-color: #673147;
    height: 80px;
    width: 100%;
    color: #EFEFEF;
}

.first-bar a {
    top: 35px;
    position: relative;
    font-size: 24px;
    margin: 10px;
    color: #ffffff;
    text-decoration: none;
}

#content-1 {
    left: 20px;
    top: 10px;
    position: absolute;
}

#content-2 {
    top: 10px;
    position: absolute;
    margin-left: 500px;
}

#content-3 {
    position: relative;
    margin-left: 500px;
}

.span-footer {
    display: block;
    margin-top: 5px;
    cursor: pointer;
}

.second-bar {
    display: flex;
    flex-wrap: wrap;
    top: 100px;
    background-color: #827a7a38;
    width: 100%;
    height: 200px;
    color: #000000;
    font-weight: 400;
    font-size: 17px;
    letter-spacing: 3px;
}

.about-us {
    letter-spacing: 2px;
    padding: 10px;
    margin-left: 80px;
}

.help {
    padding: 10px;
    margin-left: 80px;
}

.policy {
    padding: 10px;
    margin-left: 80px;
}

.quick-links {
    padding: 10px;
    margin-left: 80px;
}

.fashin-endbar {
    display: flex;
    justify-content: center;
    align-items: center;
    top:18rem !important;
    color: #ffffff;
    width: 100%;
    height: 60px;
    background-color: #673147;
    font-size: 16px;
    letter-spacing: 2px;
}

/* .third-bar {
    display: flex;
    width: 100%;
    background-color: rgb(250, 247, 247);
    flex-wrap: wrap;
    position: absolute;
    top: 300px;
}

.third-bar span {
    color: rgb(142, 138, 138);
    margin-top: 5px;
    font-size: 17px;
    font-weight: 300;
}

.woman {
    margin-left: 20px;
}

.men {
    margin-left: 90px;
}

.kids {
    margin-left: 90px;
}

.footer-brands {
    margin-left: 90px;
}

.skin-care {
    margin-left: 90px;
}

.hair-care {
    margin-left: 80px;
} */

#searchinput {
    position: absolute;
    width: 400px;
    height: 40px;
    border: none;
    border-radius: 10px;
    left:60%;
    top:13.5%;
    z-index:999;
    background-color:#EFEFEF;
}

#searchinput::-webkit-input-placeholder {
    color:grey;
    letter-spacing: 4px;
    font-size:16px;
}

#searchbtn{
    position:absolute;
    padding:10px;
    border: none;
    width:80px;
    border-radius: 10px;
    left:81%;
    top:13.8%;
    z-index:999;
}

#searchbtn:hover{
    cursor: pointer;
}

#searchdiv{
    display:none;
}